{% extends 'app/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p> Добро пожаловать на наш сайт — пространство, где оживает легенда Ferrari. Здесь собрана вся информация о великом итальянском бренде, чьи автомобили стали символом скорости, стиля и совершенства. Мы рассказываем о истории компании, её основателе Энцо Феррари, самых знаковых моделях, новейших технологиях, а также о гоночных победах марки в Formula 1. Каждая статья создаётся с любовью к автомобилям и уважением к духу Ferrari — страсти, инженерной точности и свободе. Наша цель — делиться вдохновением, которое дарит этот бренд, и помочь каждому почувствовать то, что Энцо Феррари называл «душой машины».</p>
        <button class="btn btn-warning">Просто нажми</button>
    </div>
{% endblock %}

#Страница про нас, здесь говорится всё о сайте, и разработчиках и компании