{% extends 'app/layout.html' %}

{% block title %}Главная странница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>На нашем сайте представлена информация о легендароной компании машин Ferrari. Наслаждайтесь увлекательной историей и смотрите про самые необычные,самые мощные модели. Здесь будет рассказано про весь путь этой великой компании, начиная с ferrari 125s до ferrari 296 GTB. Обязательно читайте наши статьи и наслаждайтесь контентом.</p>
        <button class="btn btn-warning">На старницу про нас</button>
    </div>
{% endblock %}